@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&family=Noto+Sans+JP&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


body,.container-fluid{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif !important;
}
html{
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif !important;

    margin: 0;
}

.display-1{
    font-family: 'Noto Sans JP', sans-serif;

}
.btn:hover,.buttonSurrond{
    color: #f0f6fc !important;
}

h1,h2,h3,h4,h5,h6,.card-title{
    font-family: 'Ubuntu', sans-serif;
}

.mainrow{
    padding: 0 3vw;
}
.mainrow>.col{
    padding:5vh 5vw;
}

.navbar{
    background-color: #0d0d0d;
    height: 15vh;
}

.icondiv{
    /* padding: 2vh; */
    width: 5rem;
    height:5rem;
    


    transform: rotate(0);
    transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.31);

}

.cntctsquare{
    position: relative;
    transform: rotate(0);
    transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.31);

}

.homeicon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    /* transform: rotate(0); */
   
    transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.31);
}

.homeicon.appear{
    transform: translate(-50%, -50%) rotate(45deg);
}
.icondiv.appear{
    /* padding: 2vh; */
    width: 5rem;
    height:5rem;
    transform: rotate(45deg);
}

.cntctsquare.appear{
    transform: rotate(-45deg);
}

.inplink a,
.inplink a:link,
.inplink a:hover,
.inplink a:active,
.inplink a:visited {
  text-decoration: none;
  color: #fff;
}

.blockquote{
    font-size: 1rem;

}

.maindiv{
    background-color: #0d0d0d;
    color: #fff;
    font-size: 1.2rem;
}

.card-body,.buttonSurrond{
    background-color:#fff;
    
}


.card{
    box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transform: translateY(40%);
    /* transition: opacity 250ms ease-in,transform 250ms ease-in; */
  }
  
  .card.appear{
    opacity: 1;
    transform: translateY(0%);
  
  }

  
.card-title,.card-text{
    color: #15263c;

}
.btn:link,.btn:active,.btn:hover,.btn:visited{

    background-color:#0d6efd;;
    color: #f0f6fc;
}

#icon1,#icon2,#icon3,#icon4,#icon5{
    font-size: 1.6rem;
    padding: 2vh;
    color: #58a6ff !important;
    ;
  }
  #icon1:hover,#icon2:hover,#icon3:hover,#icon4:hover,#icon5:hover{
    color: coral !important;
    

  }

  #sicon1,#sicon2,#sicon3,#sicon4,#sicon5{
    font-size: 1.6rem;
    color: #58a6ff !important;
    ;
  }
  #sicon1:hover,#sicon2:hover,#sicon3:hover,#sicon4:hover,#sicon5:hover{
    color: coral !important;
    

  }



/* #icon4{
    padding-right: 5vw;
} */
.nav-,.nav-t:hover,.nav-t:active,.nav-t:visited,.nav-t:link{
    color: #f0f6fc;
    text-decoration: none;
}
.navbar, .nav-con{
    background-color: #161b22
    ;
}

#cntctcon{
    padding-top: 10vh;
    height: 20vh;
  }
  
  #cntct{
    
    background-color: #0d0d0d    ;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    
  }
  #contacts{
    align-items: center; 
    display: flex;
    justify-content: center;
    width: 100vh;
    margin: auto;
    
  
  }

  .footday{
      background-color: #0d0d0d;

  }
  #endfancys{
    width: 100vw;
  }
  
  #endfancys h1{
    margin: 0.3rem;
    position: relative;
   font-size: 1.8rem;
  }

  #typing{
    font-family: 'Roboto Mono', monospace;
    /* font-variant-numeric: tabular-nums; */
    white-space:pre;
    font-size: 2.3rem;
  }
  

  @media screen and (max-width:991px) {
    
    #endfancys{
      width: 100%;
    }
    #endfancys h1{
      margin: 0.7vw;
      position: relative;
     font-size: 4vw;
    }
    #typing{
    
        font-size: 1.5rem;
      }
    
  }

  @media screen and (max-width:630px) {
    

    #typing{
        font-size: 1rem;
    }
    
  }